<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Mid</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DanhSachServlet</display-name>
    <servlet-name>DanhSachServlet</servlet-name>
    <servlet-class>fit.iuh.controllers.DanhSachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachServlet</servlet-name>
    <url-pattern>/DanhSachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemNhanVienServlet</display-name>
    <servlet-name>ThemNhanVienServlet</servlet-name>
    <servlet-class>fit.iuh.controllers.ThemNhanVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemNhanVienServlet</servlet-name>
    <url-pattern>/ThemNhanVienServlet</url-pattern>
  </servlet-mapping>
</web-app>